---
extends: default

rules:
  document-start: disable
  truthy:
    allowed-values: ['on', 'off', 'yes', 'no', 'true', 'false']
  line-length:
    max: 120
    level: warning
  trailing-spaces: disable
  empty-lines: enable
